interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetRelatedKeywords?country=us&endDate=2024-11-14&language=en-US&q=python+programming&startDate=2024-10-15
  response:
    body:
      string: '{"d": [{"__type": "Keyword:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        376, "Impressions": 281, "Query": "programiz python"}, {"__type": "Keyword:#Microsoft.Bing.Webmaster.Api",
        "BroadImpressions": 47, "Impressions": 47, "Query": "learn basic python"},
        {"__type": "Keyword:#Microsoft.Bing.Webmaster.Api", "BroadImpressions": 32,
        "Impressions": 32, "Query": "python beginners"}, {"__type": "Keyword:#Microsoft.Bing.Webmaster.Api",
        "BroadImpressions": 2196, "Impressions": 2133, "Query": "python online compiler"},
        {"__type": "Keyword:#Microsoft.Bing.Webmaster.Api",[...]
