interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetKeywordStats?country=au&language=en-AU&q=python
  response:
    body:
      string: '{"d": [{"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        642, "Date": "/Date(1716015600000)/", "Impressions": 83, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        615, "Date": "/Date(1716620400000)/", "Impressions": 68, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        539, "Date": "/Date(1717225200000)/", "Impressions": 72, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        552, "Date": "/Date(1717830000000)/", "Impressions": 86[...]
