interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetKeyword?country=us&endDate=2024-12-15&language=en-US&q=python&startDate=2024-11-15
  response:
    body:
      string: '{"d": {"__type": "Keyword:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        0, "Impressions": 0, "Query": null}}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
