interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetKeywordStats?country=gb&language=en-GB&q=python
  response:
    body:
      string: '{"d": [{"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        11610, "Date": "/Date(1716015600000)/", "Impressions": 2655, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        11381, "Date": "/Date(1716620400000)/", "Impressions": 2642, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        8322, "Date": "/Date(1717225200000)/", "Impressions": 2063, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        10390, "Date": "/Date(1717830000000)/", "Impress[...]
