interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetKeywordStats?country=us&language=en-US&q=python
  response:
    body:
      string: '{"d": [{"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        82146, "Date": "/Date(1716015600000)/", "Impressions": 14484, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        85283, "Date": "/Date(1716620400000)/", "Impressions": 14166, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        81734, "Date": "/Date(1717225200000)/", "Impressions": 14304, "Query": "python"},
        {"__type": "KeywordStats:#Microsoft.Bing.Webmaster.Api", "BroadImpressions":
        74157, "Date": "/Date(1717830000000)/", "Impr[...]
