interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetCrawlStats?siteUrl=https%3A%2F%2Fexample.test
  response:
    body:
      string: '{"d": [{"__type": "CrawlStats:#Microsoft.Bing.Webmaster.Api", "AllOtherCodes":
        1, "BlockedByRobotsTxt": 0, "Code2xx": 0, "Code301": 0, "Code302": 0, "Code4xx":
        0, "Code5xx": 0, "ConnectionTimeout": 0, "ContainsMalware": 0, "CrawlErrors":
        0, "CrawledPages": 0, "Date": "/Date(1728975600000-0700)/", "DnsFailures":
        0, "InIndex": 0, "InLinks": 0}, {"__type": "CrawlStats:#Microsoft.Bing.Webmaster.Api",
        "AllOtherCodes": 1, "BlockedByRobotsTxt": 0, "Code2xx": 0, "Code301": 0, "Code302":
        0, "Code4xx": 0, "Code5xx": 0, "ConnectionTimeout": 0, "ContainsMalware":
        0, "CrawlErrors": 5, "CrawledPages": 0, "Date": "/Date(1729062000000-0700)/",
        "DnsFailures": 0, "InIndex": 0, "InLinks": 0}, {"__type": "CrawlStats:#Microsoft.Bing.Webmaster.Api",
        "AllOtherCodes": 1, "BlockedByRobotsTxt": 0, "Code2xx": 0, "Co[...]
