interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetCrawlSettings?siteUrl=https%3A%2F%2Fexample.test
  response:
    body:
      string: '{"d": {"__type": "CrawlSettings:#Microsoft.Bing.Webmaster.Api", "CrawlBoostAvailable":
        false, "CrawlBoostEnabled": false, "CrawlRate": [10, 10, 10, 10, 10, 10, 10,
        10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]}}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
