interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetQueryParameters?siteUrl=https%3A%2F%2Fexample.test
  response:
    body:
      string: '{"d": []}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"siteUrl": "https://example.test", "queryParameter": "order"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://ssl.bing.com/webmaster/api.svc/json/AddQueryParameter
  response:
    body:
      string: '{"d": null}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetQueryParameters?siteUrl=https%3A%2F%2Fexample.test
  response:
    body:
      string: '{"d": [{"__type": "QueryParameter:#Microsoft.Bing.Webmaster.Api", "Date":
        "/Date(1731337576719)/", "IsEnabled": true, "Parameter": "order", "Source":
        0}]}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"siteUrl": "https://example.test", "queryParameter": "order", "isEnabled":
      false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://ssl.bing.com/webmaster/api.svc/json/EnableDisableQueryParameter
  response:
    body:
      string: '{"d": null}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetQueryParameters?siteUrl=https%3A%2F%2Fexample.test
  response:
    body:
      string: '{"d": []}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
