interactions:
- request:
    body: '{"siteUrl": "https://merj.dev", "url": "https://merj.dev/test-preview-example",
      "reason": 4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://ssl.bing.com/webmaster/api.svc/json/AddPagePreviewBlock
  response:
    body:
      string: '{"d":null}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetActivePagePreviewBlocks?siteUrl=https%3A%2F%2Fmerj.dev
  response:
    body:
      string: '{"d":[{"__type":"PagePreview:#Microsoft.Bing.Webmaster.Shared.DataContracts","Action":0,"BlockReason":4,"Reason":"4","RefreshReason":0,"SiteUrl":"https:\/\/merj.dev\/","SubmitDate":"\/Date(1731061976719)\/","Url":"https:\/\/merj.dev\/test-preview-example","UserId":"E105EF16419561771CA3C4464704AF93"}]}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetActivePagePreviewBlocks?siteUrl=https%3A%2F%2Fmerj.dev
  response:
    body:
      string: '{"d":[]}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
