interactions:
- request:
    body: '{"siteUrl": "https://merj.dev", "blockedUrl": {"__type": "BlockedUrl:#Microsoft.Bing.Webmaster.Api",
      "Date": "/Date(1704067200000+0000)/", "EntityType": 0, "RequestType": 0, "Url":
      "https://merj.dev/test-block-example"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://ssl.bing.com/webmaster/api.svc/json/AddBlockedUrl
  response:
    body:
      string: '{"d":null}'
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://ssl.bing.com/webmaster/api.svc/json/GetBlockedUrls?siteUrl=https%3A%2F%2Fmerj.dev
  response:
    body:
      string: '{"d":[{"__type":"BlockedUrl:#Microsoft.Bing.Webmaster.Api","Date":"\/Date(1730173887265)\/","DaysToExpire":80,"EntityType":0,"RequestType":0,"Url":"https:\/\/merj.dev\/\/test-block-1730173886.947705"},{"__type":"BlockedUrl:#Microsoft.Bing.Webmaster.Api","Date":"\/Date(1730797669445)\/","DaysToExpire":87,"EntityType":1,"RequestType":0,"Url":"https:\/\/merj.dev\/test-block-directory-1730797669.062881\/"},{"__type":"BlockedUrl:#Microsoft.Bing.Webmaster.Api","Date":"\/Date(1730794076085)\/","DaysToExpire":87,"EntityType":1,"RequestType":0,"Url":"https:\/\/merj.dev\/test-block-directory-1730794075.535982\[...]
[...]
